name: Docker Build and Push

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=anu77422/flask-textblob1
          COMMIT_SHA=$(git rev-parse --short HEAD)
          docker build \
            -t $IMAGE_NAME:latest \
            -t $IMAGE_NAME:$COMMIT_SHA \
            .

      - name: Push Docker image
        run: |
          IMAGE_NAME=anu77422/flask-textblob1
          COMMIT_SHA=$(git rev-parse --short HEAD)
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$COMMIT_SHA
